[submodule "Tools/iometa/iometa"]
	path = Tools/iometa/iometa
	url = https://github.com/Siguza/iometa
	branch = master
[submodule "Jailbreak Frameworks/iOS 12/jelbrekLIB/jelbrekLib"]
	path = Jailbreak Frameworks/iOS 12/jelbrekLIB/jelbrekLib
	url = https://github.com/jakeajames/jelbrekLib
	branch = master
[submodule "Tweak Development/theos"]
	path = Tweak Development/theos
	url = https://github.com/theos/theos
	branch = master
[submodule "iOS Device Support/iOS-DeviceSupport"]
	path = iOS Device Support/iOS-DeviceSupport
	url = https://github.com/iGhibli/iOS-DeviceSupport
